:root {
    --primary-color: #6d0064;
    --secondary-color: black;
    --background-color: grey;
}

* {
    background-color: var(--background-color);
    text-shadow: var(--secondary-color);
    color: var(--primary-color);
}

.site-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    order: auto;
}